<div class="first-container">
  <app-nav></app-nav>
  <main>
    <div class="container">
      <div class="information-board">
        <div class="header">
          <p>Club information</p>
          <p></p>
        </div>
        <div class="information-text">
          <p class="head">Welcome to the Adventure Cycling Club</p>
          <p>Ride Together, Explore Together</p>
          <p>Join us at the Adventure Cycling Club, where passion for cycling meets the thrill of adventure. Whether you're a seasoned cyclist or just starting out, our club offers a welcoming community for riders of all skill levels.</p>
          <p class="head" >About Us</p>
          <p>• Founded in 2010, the Adventure Cycling Club has grown into a vibrant community of cycling enthusiasts. Our mission is to promote a healthy lifestyle, foster camaraderie among cyclists, and explore the beauty of our surroundings on two wheels.</p>
          <p class="head" >What We Offer</p>
          <p>• Weekly Rides: Participate in our organized rides every weekend, ranging from leisurely trails to challenging routes.</p>
          <p>• Cycling Events: Join our special events, including charity rides, bike races, and scenic tours.</p>
          <p>• Community: Be part of a supportive and friendly group of cyclists who share your passion.</p>
          <p>• Adventure: Discover new routes and trails with experienced ride leaders.</p>
          <p class="head">Join Us Today!</p>
          <p>Ready to ride? Membership is open to everyone. Sign up now and start your adventure with the Adventure Cycling Club.</p>
        </div>
      </div>
      <div class="carousel">
        <button class="carousel-button prev" (click)="infoPrevSlide()"></button>
        <img class="slide" *ngFor="let slide of infoSlides; let i = index" [src]="slide.src" [class.active]="i === infoCurrentIndex" [alt]="slide.alt">
        <button class="carousel-button next" (click)="infoNextSlide()"></button>
      </div>
    </div>
    <app-side-menu></app-side-menu>
  </main>
</div>
<div class="second-container">
  <div class="our-races">
    <img alt="our-races" ngSrc="assets/pictures/our-races.png" height="200" width="200" priority>
  </div>
  <div class="panels">
    <div class="winners-info">
      <h1>1st: John Doe</h1>
      <h2 *ngFor="let slide of winnerSlides; let i = index;" [class.active]="i === winnerCurrentIndex">
        <span class="achievements-label">Achievements:</span> {{slide.winners[0].first.achievements}}
      </h2>
      <h2>Description: </h2>
      <h1>2nd: Jane Smit</h1>
      <h2>Achievement: Champion of the "City Sprint Race 2023"</h2>
      <h2>Description: Jane's lightning-fast speed and strategic maneuvers led her to triumph in the highly competitive city sprint race. Her win highlights her agility and tactical prowess in urban cycling.</h2>
      <h1>3rd: Mark Johnson</h1>
      <h2>Achievement: First Place in the "Coastal Cruise Marathon 2023"</h2>
      <h2>Description: Mark demonstrated incredible stamina and consistency throughout the marathon, navigating the scenic coastal routes with ease. His achievement underscores his passion for long-distance cycling and his exceptional physical fitness.</h2>
    </div>
    <div class="triangle"></div>
      <div class="carousel">
        <button class="carousel-button prev" (click)="winnerPrevSlide()"></button>
        <img class="slide" *ngFor="let slide of winnerSlides; let i = index" [src]="slide.src" [class.active]="i === winnerCurrentIndex" [alt]="slide.alt">
        <button class="carousel-button next" (click)="winnerNextSlide()"></button>
        <p *ngFor="let slide of winnerSlides; let i = index;" [class.active]="i === winnerCurrentIndex">{{slide.description}}</p>
        <div class="winners">
          <h1>Winners:</h1>
          <div class="winners-board">
            <h2 *ngFor="let slide of winnerSlides; let i = index;" [class.active]="i === winnerCurrentIndex">{{slide.winners[0].first.name}}</h2>
            <h2 *ngFor="let slide of winnerSlides; let i = index;" [class.active]="i === winnerCurrentIndex">{{slide.winners[0].second}}</h2>
            <h2 *ngFor="let slide of winnerSlides; let i = index;" [class.active]="i === winnerCurrentIndex">{{slide.winners[0].third}}</h2>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="third-container">
  <div class="future-events">
    <img alt="future-events" ngSrc="assets/pictures/future-events.png" height="200" width="200" priority>
  </div>
  <div class="panels">

  </div>
</div>
<app-footer></app-footer>
