.container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.carousel {
  position: relative;
  overflow: hidden;

  img {
    display: none;
    width: 100%;
    height: 100%;
  }

  img.active {
    display: block;
    border-radius: 5px;
  }
}

.container .carousel .slide{
  width: 40rem;
  height: 40rem;
  padding: 9rem;
}

.carousel-button {
  position: absolute;
  top: 50%;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
  border: solid black;
  border-width: 0 3px 3px 0;
  border-radius: 5px;
  opacity:0.6;
  display: inline-block;
}

.container .carousel-button.prev {
  left:25%;
  transform: translateY(-50%) rotate(135deg);
}

.container .carousel-button.next {
  right: 25%;
  transform: translateY(-50%) rotate(-45deg);
}

.first-container {
  display: flex;
  flex-direction: column;
  min-height: 93.5vh;
}

main {
  flex: 1;
  display:flex;
  align-items: center;
  flex-direction:row-reverse;
  justify-content:space-between;
}

.information-board{
  display:flex;
  width:60rem;
  position:relative;
  justify-content: center;
  align-items: start;
  flex-direction:column;
}

.header{
  font-size:3rem;
  font-family: Verdana, serif;
  font-weight: bold;
}

.information-text{

  p{
    font-size:1.2rem;
    font-family: Monaco, serif;
    text-align:start;
  }

  p.head{
    font-size:1.5rem;
  }
}

/*.semi-circle {*/
/*  width: 40vw;*/
/*  height: 40vw;*/
/*  border-radius: 50%;*/
/*  background-color: #00EBBD;*/
/*  clip-path: polygon(0 0, 50% 0, 50% 50%, 50% 100%, 0 100%);*/
/*  position: absolute;*/
/*  right: -20vw; !* Adjusting to ensure the semi-circle is half off-screen *!*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*}*/

.our-races{
  display:flex;
  width:100%;
  justify-content:center;

  img{
    width:20vw;
    height:40vh;
  }
}

.second-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.panels{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  min-width:100%;

  .carousel {
    text-align:center;
    .slide{
      width: 40rem;
      height: 25rem;
    }

    p{
      font-family:Verdana, serif;
      font-size:2.5rem;
    }
    /* Hide all descriptions initially */
      p {
      display: none;
    }

    /* Show the description for the active slide */
      p.active {
      display: block;
    }

  }
  .carousel-button.prev {
    left:5%;
    transform: translateY(1000%) rotate(135deg);
  }
  .carousel-button.next {
    right: 5%;
    transform: translateY(1000%) rotate(-45deg);
  }
}

.winners{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:40%;

  h1{
    font-size:3rem;
    font-family:Verdana, serif;
    font-weight: bold;
  }
  p{
    font-family:Verdana, serif;
    font-size:2.5rem;
  }
  /* Hide all descriptions initially */
  p {
    display: none;
  }

  /* Show the description for the active slide */
  p.active {
    display: block;
  }
}

.winners-board{
  display:flex;
  flex-direction:column;
  background-color:#34469C;
  width:fit-content;
  padding:0.5rem;
  border-radius:0.5rem;

  p{
    font-size:2rem;
    color:white;
  }
}
