.first-panel {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.carousel {
  width: 40rem;
  height: 40rem;
  position: relative;
  overflow: hidden;
  padding: 9rem;
}

.carousel img {
  display: none;
  width: 100%;
  height: 100%;
}

.carousel img.active {
  display: block;
  border-radius: 5px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  color: white;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  border: solid black;
  border-width: 0 5px 5px 0;
  border-radius: 5px;
  opacity:0.6;
  display: inline-block;
}

.carousel-button.prev {
  left:25%;
  transform: translateY(-50%) rotate(135deg);
}

.carousel-button.next {
  right: 25%;
  transform: translateY(-50%) rotate(-45deg);
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  display:flex;
  align-items: center;
  flex-direction:row-reverse;
  justify-content:space-between;
}
