.nav{
  position:relative;
  display: flex;
  justify-content:end;
  flex-direction: row;
  background-color:#4A55A2;
  height:5vw;
  top:0;
}
.left-nav{
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  width:50%;
  position:absolute;
  top:0;
  left:0;
}
.right-nav{
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  width:50%;
  padding-right:1%;

}
.right-nav-buttons{
  padding-right:3%;
  font-family: Roboto, serif;
  font-size:24px;
  color:#C5DFF8;
  transition:all 0.3s ease-in-out;
  &:hover{
    transform:scale(1.1)
  }
}
.logo{
  padding-left:15px;
  width:6vw;
  transition:all 0.3s ease-in-out;
  &:hover{
    transform:scale(1.1)
  }
}
.triangle {
  width: 2px;
  height: 2px;
  border-top: 25.1vw solid #00EBBD;
  border-bottom: 25.1vw solid transparent;
  border-right: 25.1vw solid transparent;
  border-left: 25.1vw solid #00EBBD;
  position: absolute;
  top: 0;
  left: 0;
}
.club-name{
  font-size:3vw;
  padding-left:1vw;
  align-self:center;
}
.active {
  font-weight: bold;
  color: black;
}
