<app-nav></app-nav>
<app-side-menu></app-side-menu>
<div class="about">
  <div class="header-container">
    <div class="header">
      <h1>
        About us
      </h1>
      <h2>
        Founded in 2010, the Adventure Cycling Club has grown into a vibrant  community of cycling enthusiasts.
        Our mission is to promote a healthy  lifestyle, foster camaraderie among cyclists, and explore the beauty of  our surroundings on two wheels.
      </h2>
    </div>
  </div>
  <div class="images">
    <img alt="about-us-1" ngSrc="assets/pictures/about-us-1.png" height="436.666666667" width="682.666666667">
    <img alt="about-us-1" ngSrc="assets/pictures/about-us-2.png" height="436.666666667" width="682.666666667">
  </div>
</div>
