<div class="page">
  <div class="nav">
    <div class="left-nav">
      <button class="logo" ><img alt="logo" ngSrc="assets/logo.png" height="622" width="612"></button>
    </div>
    <div class="right-nav">
      <button class ="right-nav-buttons">Начало</button>
      <button class ="right-nav-buttons">За нас</button>
      <button class ="right-nav-buttons">Контакти</button>
      <button class="right-nav-buttons" style="padding-right:20px">Вход</button>
    </div>
  </div>
  <div class="menu-container" (mouseenter)="expandMenu()" (mouseleave)="collapseMenu()">
    <div class="menu" [ngClass]="{ 'expanded': isExpanded }">
      <img *ngFor="let item of menuItems" [alt]="item.alt" class="menu-item" [ngSrc]="item.src" [routerLink]="item.link" height="512" width="512">
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer class="footer">
    hey
  </footer>
</div>
