<div class="page">
  <div class="nav">
    <div class="left-nav">
      <button class="logo" ><img alt="logo" src="assets/logo.png"></button>
    </div>
    <div class="right-nav">
      <button class ="right-nav-buttons">Начало</button>
      <button class ="right-nav-buttons">За нас</button>
      <button class ="right-nav-buttons">Контакти</button>
      <button class="right-nav-buttons" style="padding-right:20px">Вход</button>
    </div>
  </div>
  <div class="menu">
.
  </div>
  <router-outlet></router-outlet>
  <footer class="footer">
    hey
  </footer>
</div>
